{% extends 'base.html' %}
{% block content %}
    <h2>New Item</h2>

    <form action="{{url_for('newItem', category_id=category_id)}}" method = 'POST'>

       <p>Name:</p>
         <input type='text' size='30' name='name'>
         <br>
      <p>Description:</p>
         <input type='text' size='150' name='description'>
         <br>
      <p>Price:</p>
         <input type='text' size='30' name='price'>
         <br><br>
      <p>Picture URL:</p>
         <input type='text' size='200' name='picture'>
         <br><br>
         <input type='submit' value='Create'>

     </form>
{% endblock %}
